.app-container {
    display: flex;
    height: calc(100vh - 20px);
    overflow: hidden;
}

.empty-app-container {
    display: flex;
    height: calc(100vh - 20px);
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
