@font-face {
    font-family: "Roboto Mono";
    /*src: url("./RobotoMono-VariableFont_wght.ttf") format("truetype");*/
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

body {
    overflow: hidden;
    padding: 10px;
    background: linear-gradient(to bottom, #D9DBDC, #C6D8DF);
}

.app-container {
    display: flex;
    height: calc(100vh - 20px);
    overflow: hidden;
}
